// This file is empty within the template
// You can use it to override CSS from within your project

$btn-white-space: wrap;
.leaflet-heatmap-layer {
  opacity: 0.3;
}

header{
  padding: 3em 0;
  margin-left: -3em;  
}

.navbar-expand-lg{
  flex-flow: row wrap;
  overflow: wrap;

}
body {
  background-image: url(/images/bg.svg);
  background-repeat: no-repeat;
  background-position: 0 90%;
  background-size: cover;
}

.crosstalk-map {
  width: 100%;
  padding: 0;
  margin: 0;
}

label {
  display: inline;
}
.map-section {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex !important;
  flex-wrap: wrap;
}



.RHS {
  height: 100vh;
  margin: 0;
  padding: 0;
  top: 0;
}

.question {
  margin: 40px;
}

.formMarkUp {
  margin: 20px 10px;
  text-align: left;
  align-items: left;
}

.text {
  margin-top: 2em;
}

.hiddenForm {
  display: none;
  visibility: hidden;
}

#logo {
  width: 500px;
  display: flex;
  min-width: 100%;
}

#text {
  padding: 2em 0;
}

.navigation {
  padding: 2em 0;
}

#text-mobile {
  display: none;
}

// report page 

.collapsible {
  background-color: #777;
  color: white;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
}

.active, .collapsible:hover {
  background-color: #555;
}

.content {
  padding: 0 12px;
  display: none;
  overflow: hidden;
  background-color: #f1f1f1;
  border-radius: 3%;
}

//-----------------------
// mobile features
@media (max-width: 800px) {
  
  //navigation 
  header{
    padding: 3em 0;
    margin-left: 0em;  
  }
  
  .navbar-expand-lg .navbar-nav .nav-link {
  padding: 15px;
  }
  
  // map
  .crosstalk-map {
    padding: 1em 2em;
  }
  .crosstalk-map,
  .crosstalk-filters {
    min-width: 100%;
    flex: 1;
  }

  .crosstalk-filters {
    max-width: 80%;
    margin-right: 5em;
    padding: 0;
    background-color: white;
    border-radius: 10px;
  }

  #logo {
    min-width: 50%;
  }

  .textRight,
  .contact,
  #text-mobile {
    margin-top: 2em;
    padding: 0 3em;
  }
  #text {
    display: none;
  }

  #text-mobile {
    display: block;
  }
  #map {
    padding: 0 2em;
  }
}
// desktop font-feature-settings
@media (min-width: 800px) {
  .map-section {
    position: -webkit-sticky; /* Safari */
    position: sticky !important;
    top: 0;

    width: 100%;
    height: 100vh;
  }

  .textRight,
  .contact {
    margin-top: 15em;
    padding-right: 20em;
  }

  .crosstalk-filters {
    position: absolute;
    bottom: 10px;

    margin: 2em !important;
    padding: 0.5em 2em !important;
    background-color: white;
    border-radius: 20px;
  }
  
  .crosstalk-input{
    margin-bottom: 0.2em !important;
  }
} ;
