// This file is empty within the template
// You can use it to override CSS from within your project

.leaflet-heatmap-layer {
opacity: .3;
}

body {
  background-image: url(/images/bg.svg);
  background-repeat: repeat;
  background-position: 24% 0;
  background-size: auto;
}