{{ with .Params.banner}}

  <div class="col-lg-3 col-md-3 col-sm-3 mx-auto text-left">
    {{ partial "header.html"}}
    <div class="container">
      <div id="header">
        <h1 class="mb-2">{{ .title | markdownify }}</h1>
        <p>{{ .content | markdownify }}</p>
        {{ if .button.enable }} {{ with .button }}
        <div>
          <a
            href="{{ .link | safeURL }}"
            title="{{ .label }}"
            class="btn btn-primary"
            >{{ .label }}</a
          >
        </div>
        {{ end }} {{ end }} {{ end }}
      </div>
      <!-- text -->
      {{range .Params.text}}

      <div class="col-lg-10 mx-auto float-left" id="text">
        <h2 id="{{ .title }}">{{ .title }}</h2>
        {{ .content | markdownify }}
      </div>

      {{ end }}
      <!-- /text -->
    </div>
  </div>
  <!-- /banner -->