{{ "<!-- navigation -->" | safeHTML }}
<header class="navigation">
  <div class="container">
    <!-- navbar -->
    
      <a class="navbar-brand" id="logo"href="{{ site.BaseURL | absLangURL }}">
        {{ with site.Params.logo}}
        <img width="{{site.Params.logo_width}}" class="img-fluid w-" src="{{ . | relLangURL }}" alt="{{ site.Title }}">
        {{ else }}{{site.Title}}{{end}}
      </a>
    <nav class="navbar  navbar-light bg-transparent">
      
      <!--<button class="navbar-toggler border-0" type="button" data-toggle="collapse" data-target="#navigation" aria-label="menu">
        <i class="fas fa-bars"></i>
      </button>-->

      <div id="navigation"> <!-- collapse removed -->
        <div class="navbar-nav mx-auto">
          {{ range site.Menus.main }}
          {{ if .HasChildren }}
          <span class="nav-item "> <!-- dropdown removed -->
            <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown">
              {{ .Name }}
            </a>
            <div class="dropdown-menu">
              {{ range .Children }}
              <a class="dropdown-item" href="{{ .URL | relLangURL }}" title="{{ .Name }}">{{ .Name }}</a>
              {{ end }}
            </div>
          </span>
          {{ else }}
          <span class="nav-item">
            <a class="nav-link" href="{{ .URL | relLangURL }}" title="{{ .Name }}">{{ .Name }}</a>
          </span>
          {{ end }}
          {{ end }}

          <!-- Language List -->
        {{ if .IsTranslated }}
        <select class="m-2 border-0" id="select-language" onchange="location = this.value;">
          {{ $siteLanguages := site.Languages}}
          {{ $pageLang := .Page.Lang}}
          {{ range .Page.AllTranslations }}
          {{ $translation := .}}
          {{ range $siteLanguages }}
          {{ if eq $translation.Lang .Lang }}
          {{ $selected := false }}
          {{ if eq $pageLang .Lang}}
          <option id="{{ $translation.Language }}" value="{{ $translation.Permalink }}" selected>{{ .LanguageName }}
          </option>
          {{ else }}
          <option id="{{ $translation.Language }}" value="{{ $translation.Permalink }}">{{ .LanguageName }}</option>
          {{ end }}
          {{ end }}
          {{ end }}
          {{ end }}
        </select>
        {{ end }}
        </div>

        {{ if site.Params.navigation_button.enable }}
        {{ with site.Params.navigation_button }}
        <a href="{{ .link | relLangURL }}" title="{{ .label }}" class="btn btn-sm btn-primary mx-auto">{{ .label }}</a>
        {{ end }}
        {{ end }}
      </div>
    </nav>
  </div>
</header>
{{ "<!-- /navigation -->" | safeHTML }}