{{ define "main" }}

<!-- banner -->

<section class="row" id="container">

  {{partial "banner.html" .}}

  <div class="blogHome mx-auto col-lg-8 col-md-12 col-sm-12">
    <!-- blog post single -->
    {{ range (where .Site.Pages "Type" "blog")}}
    <a href="{{ .Permalink | safeURL }}" class="a-block">
      <div class="blog-item-wrapper row">
        <div class="col-md-5">
          {{ with .Params.coverImage }}
          <img src=" {{ .url | safeURL }}" alt=" {{ .alt }}" class="blog-cover-image"> </img>
          {{ end }}
        </div>
        <div class="col-md-6">
          <h2 class="blog-post-title">{{.Title}}</h2>
          <p>{{.Description}}</p>
        </div>
      </div>
    </a>
    {{ end }}
  </div>
  {{end}}