{{ define "main" }}
<!-- contact page -->
<!-- banner -->

<section class="row pb-5" id="container">

  {{ with .Params.banner}}
  
  <div class="col-lg-3 col-md-3 mx-auto text-left " >
    {{ partial "header.html"}}
    <div class="row">
    <div class="container">
      <div id="header">
        <h1 class="mb-2">{{ .title | markdownify }}</h1>
        <p>{{ .content | markdownify }}</p>
        {{ if .button.enable }}
        {{ with .button }}
        <div>
          <a href="{{ .link | safeURL }}" title="{{ .label }}" class="btn btn-primary">{{ .label }}</a>
        </div>
        {{ end }}
        {{ end }}  
      {{ end }}
      </div>
      <!-- text -->
      {{range .Params.text}}
  
          <div class=" col-lg-10 mx-auto float-left" id="text" >
            <p>{{ .title }} </p>
            {{ .content | markdownify }}
          </div>
     
      {{ end }}
      <!-- /text -->
    </div>
    </div>
  </div>
<!-- /banner -->
<!-- form -->
 
  
       <div class="contact col-lg-8 col-md-8 mr-1">
         <div class="col-md-5">
            <form name="contact" method="POST" data-netlify="true">
              <input type="text" class="form-control mb-3" id="name" name="name" placeholder="{{ i18n `yourname` }}">
              <input type="email" class="form-control mb-3" id="mail" name="mail" placeholder="{{ i18n `youremail` }}">
              <input type="text" class="form-control mb-3" id="subject" name="subject" placeholder="{{ i18n `subject` }}">
              <textarea name="message" id="message" class="form-control mb-3" placeholder="{{ i18n `yourmessage` }}"></textarea>
              <button type="submit" value="send" class="btn btn-primary">{{ i18n `sendnow` }}</button>
            </form>
        </div>
      </div>
      
      <div class="col-lg-5 content">
        {{ .Content }}
      </div>

  </div>
<!-- /form -->

</section>

{{ end }}

  

    


